body {
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    margin: 15px;
    width: 75%;
}
 
img {
    margin: 20px;

    transition: filter 0.5s;
}

img[data-src] {
    filter: blur(0.5em);
}