body {
    display: block;
    background-color: rgb(216, 213, 213);
    border: solid 1px rgb(13, 96, 123);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}

h1 {
    text-align: center;
    font-size: 4em;
    background-color:rgb(27, 11, 31, 1);;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
    color: #fff;
}

.cards {
	margin-left: 1rem;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 1rem;
}


section  {
    color: #fff;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: center;
    background-color: rgb(27, 11, 31, 1);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}

section img {
    width: 240px;
	height: auto;
	border: 1px solid #fff;
	box-shadow: 0 0 20px #fff;
	margin-top: 1rem;
    margin-bottom: 1rem;
}

p {
    font-size: 20px;
    font-weight: bold;
    margin: 3px;
}

h2, h3 {
    margin: 5px;
    padding: 5px;
}

h2 {
    font-size: 2em;
}


footer {
    color: #fff;
    display: flex;
    justify-content: center;
    margin: 1em;
    padding: 1.5em;
    background-color: rgb(27, 11, 31, 1);
}

section#shadow-host-companion {
    display: none;
}

/* @media only screen and (min-width: 35.5em) {
    div {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 60em) {
    div {
        grid-template-columns: 1fr 1fr 1fr;
    } */

/* } */