body {
    text-align: center;
    background-color: rgb(183, 183, 222);
}
p {
    font-size: 1.5em;
    font-weight: bold;
}
footer {
    font-size: 0.8em;
    font-style: italic;
    color: rgb(0, 0, 0);
    margin-top: 15rem;
}