html, body {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
}

body {
    box-sizing: border-box;
    background-color: #0BC5B4;
    margin: 1em;
    color: #F6FAFA;
    font-family: 'Rock Salt', cursive;
}

/* --------------- Header --------------- */

.headcontainer h1 {
    color: #F6FAFA;
    text-align: center;
    font-size: 100px;
}

.headcontainer img {
    width: 250px;
}

.headcontainer h2 {
    font-family: 'Palanquin', sans-serif;
    font-size: 40px;
    text-align: center;
}

.head-banner {
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ea6052;
}

/* --------------- Navigation --------------- */

nav {
    margin: 5px;
}

button.wavy {
    border: 0;
    background-color: transparent;
}

.wavy img  {
    background-color: transparent;
    fill: #0BC5B4;
    width: 100px;
}

.menucontainer {
    width: 10%;
    line-height: 2.5;
}


li::marker {
    display: none;
}


nav li a {
    display: flex;
    font-size: 40px;
    color: #0BC5B4;
    text-decoration: none;
    flex-direction: column;
    align-items: center;
}

nav ul {display: none;}
nav ul.open {
    position: absolute;
    display: block;
    background: #F6FAFA;
    border-radius: 50%;
    list-style: none;
    width: 400px;
}

/* --------------- Main ---------------*/

.maincontainer {
    display: block;
}

.hero .strawberry {
    width: 100%;
    margin: 20px;
}


div.summary {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cali h1 {
    text-align: center;
    font-size: 75px;
    padding: 20px;
}

p {
    font-family: 'Palanquin', sans-serif;
    font-size: 30px;
}

img.beach, img.village, .fruit {
    width: 100%;
    margin: 20px;
}

h2.store-card {
    font-size: 40px;
    text-align: center;
}

.find-card {
    font-size: 20px;
    text-align: center;
    font-family: 'Palanquin', sans-serif;
}

.about-card p {
    font-size: 20px;
}

.carlsbad p {
    font-size: 25px;
}

a.freshdrink, .find-card a {
    color: #F6FAFA;
    text-decoration: none;
}

.freshcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside a {
    color: #F6FAFA;
    text-decoration: none;
    font-size: 35px;
    margin: 10px;
}

aside {
    display: block;
    text-align: center;
    margin: 10px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

p#title {
    text-align: center;
    font-family: 'Rock Salt', cursive;
    margin-bottom: 0;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 3PX;
}

figure img {
    min-width: 120px;
}

.current {
    display: flex;
    text-align: center;
}

.current p {
    font-size: 25px;
    padding: 10px;
    border: 1px solid rgb(8, 162, 150);
}
.forecast {
    font-family: 'Palanquin', sans-serif;
    border: 1px solid rgb(8, 162, 150); 
}

.forecast, .forecast p {
    font-size: 25px;
}

th, td {
    border: 1px solid rgb(8, 162, 150);
    margin: 0;
    padding: 5px;
}






/* --------------- Footer ---------------*/

footer {
    display: block;
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center; */
}

p.footname {
    font-size: 25px;
    font-family: 'Rock Salt', cursive;
}

.foot-logo {
    display: flex;
    justify-content: center;
}

img.footlogo {
    height: 80px;
}

.footer-text-heading, .footer-text-content p {
    font-size: calc(.763vw + 12.83969px);

}

footer a {
    color: #F6FAFA;
}

.footer-social {
    display: flex;
    float: right;
}

.footer-social li {
    list-style: none;
}

.footer-social img {
    width: 30px;
}

p.last-update {
    font-size: 15px;    
}

a.attributions {
    font-size: 8px;
    color: #F6FAFA;
}


/* --------------- Fresh Page ----------------*/

/* .fresh-hero-img {
    height: 400px;
} */

h2.fresh-order {
    grid-column: 1;
}

hr.vertical {
    display: inline-block;
    width: 1;
    size: 500;
    color: #F6FAFA;
}

div.orders {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.user-name  {
    display: flex;
    flex-flow: column nowrap;
    background-color: #FEFCFD;
    align-items: center;
}


#submitBtn {
    padding: 1em;
    background-color: #ea6952;
    border: 2px solid hsl(9, 49%, 41%);
    border-radius: 1em;
    color: #FEFCFD;
    font-size: 1rem;
}

button  {
    margin: 20px;
    font-family: 'Rock Salt', cursive;
}


/* ------------ FORM ------------ */

form fieldset {
    display: block;
    margin: 2rem 0;
    border: 1px solid hsl(175, 90%, 26%);
    border-radius: 10px;
    padding: 1rem;
    width: fit-content;
    background-color: #F6FAFA;
    font-family: 'Palanquin', sans-serif;
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: #ea6952;
    font-size: 1rem;
    text-align: left;
}

form label.top input, form label.top select,
form label.top textarea {
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .5rem;
    color: #555;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
}

form select {
    display: block;
    padding: .5rem 0;
    color: #555;
    font-size: 1.2rem;
}

form input.submitBtn {
    border: none;
    background-color: #ea6952;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form label.top input:required {
    border-left: #ea6952 solid 6px;
}

form label.top input:required:valid {
    border-left: #0BC5B4 solid 6px;
}