html, body {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
}

body {
    box-sizing: border-box;
    background-color: #0BC5B4;
    margin: 1em;
    color: #F6FAFA;
    font-family: 'Rock Salt', cursive;
}

/* --------------- Header --------------- */

.headcontainer h1 {
    color: #F6FAFA;
    text-align: center;
    font-size: 100px;
}

.headcontainer img {
    width: 250px;
}

.headcontainer h2 {
    font-family: 'Palanquin', sans-serif;
    font-size: 40px;
    text-align: center;
}

.head-banner {
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ea6052;
}

/* --------------- Navigation --------------- */

nav {
    margin: 5px;
}

button.wavy {
    border: 0;
    background-color: transparent;
}

.wavy img  {
    background-color: transparent;
    fill: #0BC5B4;
    width: 100px;
}

.menucontainer {
    width: 10%;
    line-height: 2.5;
}


li::marker {
    display: none;
}


nav li a {
    display: flex;
    font-size: 40px;
    color: #0BC5B4;
    text-decoration: none;
    flex-direction: column;
    align-items: center;
}

nav ul {display: none;}
nav ul.open {
    position: absolute;
    display: block;
    background: #F6FAFA;
    border-radius: 50%;
    list-style: none;
    width: 400px;
}

/* --------------- Main ---------------*/

.maincontainer {
    display: block;
}

.hero .strawberry {
    width: 100%;
    margin: 20px;
}


div.summary {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cali h1 {
    text-align: center;
    font-size: 75px;
    padding: 20px;
}

p {
    font-family: 'Palanquin', sans-serif;
    font-size: 30px;
}

img.beach, img.village, .fruit {
    width: 100%;
    margin: 20px;
}

h2.store-card {
    font-size: 40px;
    text-align: center;
}

.find-card {
    font-size: 20px;
    text-align: center;
    font-family: 'Palanquin', sans-serif;
}

.about-card p {
    font-size: 20px;
}

.carlsbad p {
    font-size: 25px;
}

a.freshdrink, .find-card a {
    color: #F6FAFA;
    text-decoration: none;
}

.freshcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside a {
    color: #F6FAFA;
    text-decoration: none;
    font-size: 35px;
    margin: 10px;
}

aside {
    display: block;
    text-align: center;
    margin: 10px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

p#title {
    text-align: center;
    font-family: 'Rock Salt', cursive;
    margin-bottom: 0;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 3PX;
}

figure img {
    min-width: 120px;
}

.current {
    display: flex;
    text-align: center;
}

.current p {
    font-size: 25px;
    padding: 10px;
    border: 1px solid rgb(8, 162, 150);
}
.forecast {
    font-family: 'Palanquin', sans-serif;
    border: 1px solid rgb(8, 162, 150); 
}

.forecast, .forecast p {
    font-size: 25px;
}

th, td {
    border: 1px solid rgb(8, 162, 150);
    margin: 0;
    padding: 5px;
}






/* --------------- Footer ---------------*/

footer {
    display: block;
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center; */
}

p.footname {
    font-size: 25px;
    font-family: 'Rock Salt', cursive;
}

.foot-logo {
    display: flex;
    justify-content: center;
}

img.footlogo {
    height: 80px;
}

.footer-text-heading, .footer-text-content p {
    font-size: calc(.763vw + 12.83969px);

}

footer a {
    color: #F6FAFA;
}

.footer-social {
    display: flex;
    float: right;
}

.footer-social li {
    list-style: none;
}

.footer-social img {
    width: 30px;
}

p.last-update {
    font-size: 15px;    
}

a.attributions {
    font-size: 8px;
    color: #F6FAFA;
}