@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
.container { 
    display: grid;
}
head {
    color: rgb(73, 45, 94);
}
body {
    margin-top: 5px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 3em;
    font-family: 'Roboto', sans-serif;
}
header {
    background-color: rgba(73, 45, 94);
    color: white;
}
h1 {
    text-align: center;
    font-size: 2.5rem;
}
h2 {
    text-align: center;
    font-size: 1.25rem;
    color: rgb(73, 45, 94);
}
a {
    color: rgb(73, 45, 94);

}
img {
    padding-right: 42rem;
}
footer {
    border-radius: 10px;
    background-color: rgb(73, 45, 94);
    color: white;
    text-align: center;
    padding: 5px;
}