/* Tablet Views ******************************/
@media only screen and (min-width: 35rem) {
	h1 {
		font-size: 1.5rem;
	}
	nav button {
		display: none;
	}
	/*nav ul {
		display: flex;
	}*/
 	nav ul.open {
		display: flex;
		list-style: none;
		justify-content: space-evenly;
		font-size: 2.5rem;
	} 

	nav a {
		font-size: 1rem;
	}

	main {
		grid-template-columns: 1fr 1fr;
	}
	article:nth-child(3) {
		grid-column: span 2;
	}
	main picture {
		display: block;
	}
	main picture img {
		width: 100%;
		height: auto;
		border: 1px solid #bbb;
	}
	footer p {
		flex-direction: row;
		/*display: flex;*/
		justify-content: space-around;
	}
}

/* Desktop Views ***************************
@media only screen and (min-width: 64em) {
	h1 {
		font-size: 2rem;
	}
	nav a {
		font-size: 1.1rem;
	}
	main {
		grid-template-columns: 1fr 1fr 1fr;
	}
	article:nth-child(3) {
		grid-column: span 1;
	}
}*/