@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@500&display=swap');

header, footer {
  padding: 1em;  
  color: #FEFCFD;
  background-color: #3d518c;
}
header > h1, header > h2 {
  padding: .25em;
  color: #FEFCFD;
  text-align: center;
}
nav button {
  margin: .2rem 2vw;
  padding: 0;
  border: none;
  font-size: 2rem;
  color: #62b6cb;
  background-color: #3d518c;
}

nav {
  background-color: #3d518c;
  margin: 0 auto;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
}

nav ul {
  display: none;
}

nav ul.open {
  display: block;
  list-style-type: none;
  overflow: hidden;
  margin: 0;
} 

nav ul li a {
  color: #FEFCFD;
  text-align: center;
  padding: 0.75rem;
  text-decoration: none;
  font-size: 0.95rem;
  transition: 0.5s;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.5em;
  font-size: 18px;
  text-align: left;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 300px;
}

h1, h2, h3 {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 3px;
  color:#3d518c;
  text-align: center;
}

h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 2px;
  color: #FEFCFD;
  text-align: center;
}

p {
  font-family: 'Open Sans', sans-serif;
  color: #3d518c;
  letter-spacing: 0.4px;
  text-align: center;
}

main ul {
  margin: 0 auto;
  list-style: none;
  line-height: 2.5;
  padding: 0;
  margin-top: 30px;
  text-align: center;
  color: #3d518c;
}
  
.colors {
  width: 100%;
  min-width: 350px;
  margin: 30px auto;
  text-align: center;
}
.colors th {
  background-color: #FEFCFD;
}
.colors td{
  width: 20%;
  height: 3em;
}

.primary {
  background-color: #3d518c;
  color: #FEFCFD;
}
.secondary {
  background-color: #5fa8d3;
}
.accent1 {
  background-color: #62b6cb;
}
.accent2{
  background-color: white;
}

.accent3{
  background-color: black;
}
footer p {
  color: #FEFCFD;
}