/* Styles for the header and elements inside the header */
header {
    z-index: 10;
    padding: 1rem;
    position: relative;
    background-color: var(--main-color);
    box-shadow: 0 0 10px var(--main-color);
}
header > span {
    display: block;
    color: var(--secondary-color);
    padding-bottom: 1rem;
}
h1 {
    color: var(--default-light);
    margin-bottom: 0.75rem;
}
nav {
    position: sticky;
    top: 0;
}
nav > ul {
    margin: 0;
    padding: 0;
    display: grid;
    list-style: none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    box-shadow: 0 0 10px var(--default-dark);
}
nav a {
    /* It doesn't work to have this one with the other css block */
    height: calc(100% - 2em);
}
nav a, span.navR {
    z-index: 8;
    padding: 1em 0;
    display: block;
    margin-right: 0;
    width: calc(100%);
    font-weight: bold;
    text-align: center;
    position: relative;
    text-decoration: none;
    color: var(--default-light);
    background-color: var(--default-dark);
    box-shadow: 0 0 10px var(--default-dark);
}
nav a.at, nav a:active, span.navA {
    background-color: var(--main-color);
    box-shadow: 0 0 10px var(--main-color);
    font-weight: bold;
    padding: 1em 0;
    z-index: 9;
}
nav a:hover, span.navH {
    background-color: var(--default-light);
    box-shadow: 0 0 10px var(--default-light), inset 0 0 10px var(--main-color);
    color: var(--main-color);
    font-weight: bold;
    padding: 1em 0;
    z-index: 7;
}