/* Styles for the header and elements inside the header */
header {
    z-index: 10;
    padding: 1rem;
    position: relative;
    background-color: #3D518C;
    box-shadow: 0 0 10px rgba(61, 81, 140, 0.8);
}
header > span {
    display: block;
    color: #FEFCFD;
    padding-bottom: 1rem;
}
h1 {
    color: #62B6CB;
    margin-bottom: 0.75rem;
}
nav {
    position: sticky;
    top: 0;
}
nav ul {
    margin: 0;
    padding: 0;
    display: grid;
    list-style: none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    box-shadow: 0 0 10px rgba(61, 81, 140, 0.8);
}

nav ul li.active a {
    background-color: rgba(0,0,0,0.2)
}
nav ul li a:hover {
    background-color: rgba(0,0,0,0.3);
}
    
/*nav ul {display: none;}*/
nav ul.open {display: block;}
