table {
	margin: 10px auto;
	border: 3px solid rgb(80, 45, 100);
	box-shadow: 0 0 7px rgb(50, 4, 78);
	border-collapse: collapse;
}

caption {
  padding: 10px;
  caption-side: bottom;
	color: rgb(50, 4, 78);
	font-size: .85rem;
}

tr:first-child th, .highlight {
	background-color: rgb(80, 45, 100);
	color: whitesmoke;
}

th, td {
	padding: 7px 15px;
	border: 1px solid  hsl(0,0%,33%);
}

th {
	background-color: rgb(80, 45, 100,);
	font-size: larger;
}

td {
	text-align: center;
}

tbody tr:nth-child(even) {
	background-color: hsl(0, 0%, 93%, 1);
}
