* {
    box-sizing: border-box;
}

body {
background-color: #3D518C;
display: grid;
grid-template-columns: 1fr;
color: #FEFCFD;
}

/* navigation */

nav {
background-color: #5FA8D3;
}

#hamButton {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    width: fit-content;
    font-size: 1.5rem;
    padding: .5rem;
    color: #FEFCFD;
    background: transparent;
    border: none;
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #5FA8D3;
}

.navigation li a {
    padding: 1.15rem;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #FEFCFD;
}
.navigation li a:hover {
    background-color: #FEFCFD;
    color: #3D518C;
    font-weight: 700;
}

/* when the button is clicked - the responsive class is added and accounted for here */
.navigation.responsive li {
    display: block;
    width: 100%;
}
.navigation.responsive li a {
    display: block;
}

/*Social media*/
.social {
    display: flex;
    margin: 1rem; 
}

.logo1 {
    max-width: 100px;
}

/*Main Section*/
.content {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2px;
    text-align: center;
}
.hero {
    background-color: #5FA8D3;
    width: auto;
    height: 300px;
    grid-row: 1;
    margin: 1rem;
}
.hero img {
    max-width: 150px;
    padding: 1em;
}
.events {
    background-color: #5FA8D3;
    width: auto;
    height: 100px;
    grid-row: 2;
    margin: 1rem;
}
.weather {
    background-color: #5FA8D3;
    width: auto;
    height: 100px;
    grid-row: 3;
    margin: 1rem;
}
.weather p {
    text-align: center;
}
.news {
    background-color: #5FA8D3;
    width: auto;
    height: 100px;
    grid-row: 4;
    margin: 1rem;
}
.spotlight {
    background-color: #5FA8D3;
    width: auto;
    height: 100px;
    grid-row: 5;
    margin: 1rem;
}
.spot1 {
    border: 1px solid #5FA8D3;
    padding: 1px;
    
}