* {
    /*box-sizing: border-box;*/
    /*margin: 5px;*/
}

body {
background-color: #3D518C;
/*display: grid;*/
/*grid-template-columns: 1fr;*/
color: #FEFCFD;
}

/* navigation */

/*nav {
background-color: #5FA8D3;
}*/

#hamButton {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    width: fit-content;
    font-size: 1.5rem;
    padding: .5rem;
    color: #FEFCFD;
    background: transparent;
    border: none;
}

ul {
    padding-inline-start: 5px;
}

ul li {
    display: flex;
    list-style: none;
    background-color: #5FA8D3;
}

ul li a {
    padding: .5rem;
    display: block;
    text-decoration: none;
    color: #FEFCFD;
}
ul li a:hover {
    background-color: #FEFCFD;
    color: #3D518C;
    font-weight: 700;
}

nav ul {
    display: none;
}
nav ul.open {
    display: block;
}

/*Social media*/

.social {
    display: flex;
}

.social a img {
    max-width: 25px;
    margin-top: 15px;
}

/* Header */

.headerContainer {
    display: grid;
    justify-content: center;
}

.headLogo {
    display: grid;
    justify-content: center;
}

h1, h3, h4 {
    text-align: center;
}

.date {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
#date1 {
    grid-column: 2/5;
}
span.highlight {
    display: flex;
    justify-content: space-around;
}

/*Main Section*/
.content {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    text-align: center;
}
.hero {
    background-color: #5FA8D3;
    grid-row: 1;
    position: relative;

}
.hero img {
    width: 95%;
    padding: .5rem;
}

.hero p {
    position: absolute;
    top: 5px;
	left: 25px;
	background: radial-gradient(#FEFCFD, #3D518C);
	border: 1px solid rgba(0,0,0,.1);
	padding: 2rem;
	box-shadow: 0 0 30px #3D518C;
	opacity: 0.7;
}

.hero section {
    position: absolute;
    bottom: 25px;
    background: scroll;
    
}

.events {
    background-color: #5FA8D3;
    width: auto;
    grid-row: 2;

}
.weather {
    background-color: #5FA8D3;
    width: auto;
    grid-row: 3;

}
.weather p {
    text-align: center;
}
.news {
    background-color: #5FA8D3;
    width: auto;
    grid-row: 4;

}
.spotlight {
    background-color: #5FA8D3;
    width: auto;
    grid-row: 5;


}
.spot1 {
    border: 1px solid #3D518C;
    padding: 40px;
    margin: 1rem;
}
.spot2 {
    border: 1px solid #3D518C;
    padding: 40px;
    margin: 1rem;
}
.spot3 {
    display: none;
    border: 1px solid #3D518C;
    padding: 5rem;
    margin: 1rem;
}

.join {
    display: none;
}

/* Footer */

div.contact {
    display: grid;
    justify-content: center;
}

.logo1 {
    max-width: 100px;
    float: left;
    margin: 25px;
}