
body {
background-color: #3D518C;
display: grid;
grid-template-columns: 1fr;
color: #FEFCFD;
}

main {
    color: #232E4F;
}

/* navigation */

#hamButton {
    display: block;
    left: 10px;
    font-size: 2.5rem;
    color: #FEFCFD;
    background: transparent;
    border: none;
    margin: 2px;
}

#navigation li {
    list-style: none;
    background-color: #A3CEE6;
    flex: 1 1 100%;
    text-align: center;
}

#navigation li a {
    text-decoration: none;
    font-size: 30px;
    color: #232E4F;
}

li.active {
    color: #FEFCFD;
}

li.active:hover {
    color: #3D518C;
    font-size: 30px;
}

ul#navigation li:hover {
    background-color: #FEFCFD;
    color: #3D518C;
    font-weight: 700;
}

nav ul {
    display: none;
}

/* a {
    text-decoration: none;
    margin: 5px;

} */

ul#navigation.open {
    display: block;
    padding: 0;
}

/*Social media*/

.social {
    display: flex;
    gap: 8px;
    justify-content: end;
}

div.social a {
    text-decoration: none;
    margin: 5px;
}

.social a img {
    max-width: 45px;
    margin-top: 35px;
}

/* Header */

header {
    display: grid;
    padding: 1em;
}

div .headLogo {
    display: flex;
}

.logo {
    max-width: 8em;
}

span.highlight { 
    display: flex;
    justify-content: space-around;
    /* background-color: #5FA8D3; */
    margin-bottom: 5px;
    font-size: 1.5em;
}

div.headLogo p {
    text-align: center;
    font-size: 32px;
}

.website {
    background-color: #A3CEE6;
    color: #232E4F;
    font-size: 18px;
    text-align: center;
    margin-bottom: 8px;
}

.banner {
    background-color: #FEFCFD;
    color: #232E4F;
    text-align: center;
    /* font-size: 25px; */
    /* display: none; */
}

/*Main Section*/
.content {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    text-align: center;
}



.hero {
    background-color: #A3CEE6;
    grid-row: 1;
    position: relative;

}
img.hero {
    width: 95%;
    height: 97%;
    padding: .5rem;
}

.heroTemp img {
    position: absolute;
    top: 9px;
    left: 70px;
    width: 6%;
    padding: 1rem;
}

.heroTemp .current {
    color: #232E4F;
}

.hero p {
    position: absolute;
    top: 5px;
	left: 25px;
	background: radial-gradient(#FEFCFD, #3D518C);
	border: 1px solid rgba(0,0,0,.01);
	padding: 2rem;
	box-shadow: 0 0 30px #3D518C;
	opacity: 0.7;
}

.hero a {
    position: absolute;
    bottom: 75px;
    right: 25px;
    border: 1px solid rgba(0,0,0,.1);
    background: #A3CEE6;
    padding: 1rem;
    box-shadow: 0 0 30px #3D518C;
    border-radius: 1em;
    color: #232E4F;
}

.events {
    background-color: #A3CEE6;
    width: auto;
    grid-row: 2;
    position: relative;
    padding: 1em;
}

.events .calendar {
    text-align: center;
    color: #232E4F;
    border: 2px solid rgba(0,0,0,.5);
    width: 65px;
    height: auto;
    padding: 5px;
    float: right;
    margin: 35px 25px;
}

.calendar strong {
    font-size: 14px;
    display: block;
    max-height: 20px;
    line-height: 22px;
    padding-bottom: 3px;
}

.calendar em {
    font-style: normal;
}

/* .events h3 {
    font-size: 25px !important;
    text-align: left;
    padding-left: 1em;
    margin: 0;
} */

.events span {
    font-size: 27px;
}

.events p {
    font-size: 30px;
    text-align: left;
    /* padding-left: 2em; */
}

div.eventArrow {
    margin-left: 20rem;
    margin-top: 5rem;
}

.eventArrow .readMore {
    font-size: 25px;
    padding-right: 1em;
}
.eventArrow .arrowBlue {
    /* position: absolute;
    float: left; */
    padding: 4px 9px;
    font-size: 15px;
    background: #3D518C;
    color: #FEFCFD;
}

.events img {
    display: none;
}

.weather {
    background-color: #A3CEE6;
    width: auto;
    grid-row: 3;

}

.weather p {
    text-align: center;
    font-size: 30px;
}

.news {
    background-color: #A3CEE6;
    width: auto;
    grid-row: 4;
}

.news p {
    font-size: 18px;
    padding: 1em;
}

.spotlight {
    background-color: #A3CEE6;
    width: auto;
    grid-row: 5;
}

.spot1 {
    border: 1px solid #3D518C;
    padding: 40px;
    margin: 1rem;
    background-color: white;
    color: #232E4F;
}

.spot1 img {
    max-width: 200px;
    border: 2px solid red;
    padding: .5em;
}

p.name {
    font-size: 28px;
}

.spot2 {
    border: 1px solid #3D518C;
    padding: 40px;
    margin: .5rem;
    background-color: white;
    color: #232E4F;
}
.spot3 {
    display: none;
}

.join {
    display: none;
}

/* ---------- Discover Page ---------- */

.discover {
    margin: 1em;
    padding: 1em;
    text-align: center;
    background-color: #A3CEE6;
}

.discover p {
    text-align: left;
    margin: 10px;
    padding: 1rem;
} 

.discover img {
    width: 350px;
    margin: 1em;
    /* padding: 15px; */
    /* margin-left: auto;
    margin-right: auto; */
}

div.image p {
    font-style: italic;
    font-size: 18px;
    text-align: center;
}

.hover:hover {box-shadow: 0 0 50px #3D518C;}

.discover li {
    text-align: left;
}

/* ---------- Join Page ---------- */
.name  {
    display: flex;
    flex-flow: column nowrap;
    background-color: #FEFCFD;
    align-items: center;

}

div.start {
    margin: 15px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.submitBtn {
    padding: 2em;
    background-color: #9c2c13;
    border: 2px solid #77200c;
    border-radius: 1em;
    color: #FEFCFD;
    font-size: 1.25rem;
}

.thanks {
    background-color: #FEFCFD;
    display: block;
    text-align: center;
}

.thanks p {
    font-size: 18px;
}

/* .joinBtn {
    padding: 1em;
    background-color: #9c2c13;
    border: 2px solid #77200c;
    border-radius: 1em;
    color: #FEFCFD;
    font-size: 1.25rem;
} */


/* ------------ FORM ------------ */

form fieldset {
    display: block;
    margin: 2rem 0;
    border: 1px solid #232E4F;
    border-radius: 10px;
    padding: 1rem;
    width: fit-content;
}

form legend {
    color: #232E4F;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: #9c2c13;
    font-size: 1rem;
    text-align: left;
}

form label.top input, form label.top select,
form label.top textarea {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .5rem;
    color: #555;
    /* width: 100%; */
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
}

form label.sbs {
    display: block;
    padding: .5rem 0;
    color: #555;
    font-size: 1.2rem;
}

form input.submitBtn {
    border: none;
    background-color: #9c2c13;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}

/* ---------- Memberships ---------- */

.memberships {
    display: block;
    margin: 15px;
}

.membership {
    display: flex;
    width: 300px;
    height: 300px;
    border: 1px solid #232E4F;
    border-radius: 10px;
    margin: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    transition: 1s;
    transition-timing-function: ease;
}
/* 
div.membership div.show {
    display: block;
}

div.membership div.hide:hover {
    animation: appear 2s ease;
}

div.membership div.show:hover {
    display: none;
}

div.membership div.hide {
    display: none;
} */

@keyframes appear {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

div.membership div:nth-child(1) {
    display: block;
}

div.membership:hover div:nth-child(1) {
    display: none;
}

div.membership div:nth-child(2) {
    display: none;
}

div.membership:hover div:nth-child(2) {
    display: block;
}

div.membership div, div.membership:hover div {
    animation: appear 2s;

}
.center {
    text-align: center;
}

li {
    text-align: left;
}

div#gold {
    background-color: rgb(225, 165, 13);
}

div#silver {
    background-color: silver;
}

div#bronze {
    background-color: rgb(192, 161, 122);
}

/* ---------- Directory ---------- */

main.members {
	margin: 0 auto;
	padding: 0.5rem;
	/* max-width: 700px; */
	background-color: #fff;
    box-sizing: border-box;
}

#grid img, #list img {
    display: block;
    height: 24px;
}

div.button {
    display: flex;
    justify-content: center;
}

.members h1 {
    text-align: center;
}



.members h2 {
    text-align: center;
    margin: 2px;
}

.members img {
    display: none;
}

.menu {
	margin: 1rem auto;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color: #A3CEE6;
	text-align: center;
}

button#grid.button, button#list.button {
	padding: .5rem;
	font-weight: 700;
}


section {
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 1rem;
    margin: .5em;
	background-color: #A3CEE6;
    height: 300px;

}

.grid {
 	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 5px;
	align-items: center;
    margin: 0.1rem;
}

/* .grid a {
    display: none;
} */

.grid h2 {
    font-size: 18px;
    margin: 0;
    padding-top: 15px;
}

.grid p {
    padding: 15px;
}

.grid img {
    display: block;
    margin: 20px;
	border: 1px solid #FEFCFD;
	box-shadow: 0 0 10px #232E4F;
    background-color: #FEFCFD;
    width: 65%;
}

.list {
	display: flex;
	flex-direction: column;
}

.list section {
	display: grid;
	grid-template-columns: 2fr 1.5fr 1.5fr;
	margin: 0;
	padding: 0.25rem;
    height: 100px;
    align-items: center;
    text-align: center;
}

.list section > * {
	margin: 0 1rem;
}

.list section img {
	display: none; 
}

.list section h3 {
	font-size: 1rem;

}

.list section:nth-child(even) {
	background-color: #FEFCFD;
}

section h3 {
	font-size: 1.5rem;
}

section p {
	font-weight: 600;
	font-size: smaller;
}

.list section p {
    display: none;
}

section a {
	font-size: 0.85rem;
	color: #232E4F;
	/* letter-spacing: 1.1pt; */
}

/* ---------- Footer ---------- */

footer {
    /* display: flex; */
    padding: 1rem;
}

address {
    margin: .5rem;
}

.logo1 {
    max-width: 100px;
    float: left;
    margin: 25px;
    /* grid-column: 1;
    grid-row: 2; */
}
.contact img {
    width: 30px;
}
.contact p {
    font-size: 25px;
    margin: 0;
}

.contact a {
    color: #FEFCFD;
    padding: 2px;
    /* grid-column: 2;
    grid-row: 3; */
}

div#numvisits {
    padding: 15px;
}

footer p {
    font-size: 12px;
}

section#shadow-host-companion {
    display: none;
}