/* ----------- FORM -------------- */

form fieldset {
    margin: 2rem 1px;
    border: 1px solid var(--accent3-color);
    border-radius: 10px;
    padding: 0.5rem;
    padding-right: 1.5rem;
}
  
form legend {
    color: var(--accent3-color);
    margin: 0 1rem;
    padding: 0 0.5rem;
}
  
form label.top,
form div {
    display: block;
    padding-top: 1rem;
    color: var(--accent4-color);
    font-size: 0.8rem;
}
  
form label.top input,
form label.top select,
form label.top textarea {
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: 0.75rem;
    margin-left: 5px;
    color: #555;
    background-color: #fff7effb;
}
  
form label.sbs {
    display: block;
    padding: 0.75rem 0;
    color: #555;
}
  
form input.submit-btn {
    border: none;
    background-color: #9c2c13;
    color: white;
    border-radius: 1rem;
    padding: 0.75rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}
  
form input.submit-btn:hover {
    background-color: #49170b;
    cursor: pointer;
}
  
form label.top input,
form label.top textarea {
    border-left: #fff7effb solid 6px;
}
  
form label.top input:required {
    border-left: red solid 6px;
}
  
form label.top input:required:valid {
    border-left: green solid 6px;
}
  
main.center {
    margin: 0 auto;
    flex-flow: row;
    justify-content: space-between;
}
  
h2.center {
    text-align: center;
}
  
#bronze-level {
    background-color: burlywood;
}
  
#silver-level {
    background-color: silver;
}
  
#gold-level {
    background-color: gold;
}
  
.color-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    height: 250px;
    width: 250px;
    border: 1px solid black;
    border-radius: 1em;
    text-align: center;
    font-weight: bolder;
    transition: 1s;
    transition-timing-function: ease;
}
  
.hide-base {
    display: none;
}
  
@keyframes appear {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
  
div.color-box div,
div.color-box:hover div {
    animation: appear 2s ease;
}
  
div.color-box div:nth-child(1) {
    display: block;
}
  
div.color-box div:nth-child(2) {
    display: none;
}
  
div.top-header button span:nth-child(1) {
    display: block;
}
  
div.top-header button span:nth-child(2) {
    display: none;
}
  
div.color-box:hover div:nth-child(2) {
    display: block;
}
  
div.color-box:hover div:nth-child(1) {
    display: none;
}
  
div.top-header button.open span:nth-child(2) {
    display: block;
}
  
div.top-header button.open span:nth-child(1) {
    display: none;
}
  
div.color-box li {
    font-size: smaller;
    font-weight: 400;
    text-align: left;
    padding: 2px;
}
  
div.color-box ul {
    padding-inline-start: 20px;
}
  
.background-fill {
    background-color: var(--nav-background-color);
}
  
.stacked {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-top: 10px;
}
  
.sxs {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: space-evenly;
}
  
.member-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
  
.member-list {
    display: flex;
    flex-direction: column;
}
  
section.member-detail-grid {
    background-color: var(--primary-color);
    border: 1px solid #bbb;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.25rem;
    padding: 0.35rem;
}
  
section.member-detail-grid:hover {
    background-color: var(--nav-link-color);
}
  
section.member-detail-grid > p {
    min-height: 10px;
}
  
section.member-detail-grid img {
    box-shadow: 0 0 30px #777;
    height: 100px;
    width: auto;
    max-width: 325px;
    border: 2px solid #333;
    margin-bottom: 0;
}
  
section.member-detail-grid p {
    font-family: dosis, sans-serif;
    margin: 10px;
    font-weight: 400;
    font-size: medium;
}
  
section.member-detail-grid a {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px;
    font-weight: 400;
    font-size: medium;
    color: var(--nav-hover-link-color);
}
  
.directory-button {
    margin: 5px;
    margin-right: 15px;
    width: auto;
    background-color: transparent;
    border: 2px solid black;
    font-size: 20px;
    max-width: 200px;
    color: #555;
}
  
.directory-button:hover {
    background-color: var(--accent1-color);
}
  
div.directory-button-bar {
    height: 60px;
    margin-bottom: 15px;
}
 
.member-list section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}
  
div.member-list p,
div.member-list h2,
div.member-list a {
    margin-left: 20px;
}
  
div.member-list h2 {
    font-size: smaller;
    width: 200px;
}
  
.member-list p.member-address,
.member-list a.member-email {
    text-align: left;
    display: none;
}
  
div.member-list img {
    align-self: center;
    display: none;
}
  
div.credit {
    font-size: medium;
    text-align: center;
    margin: 5px;
    width: 100%;
}
  