/* LARGE VIEW */

@media (min-width: 1024px) {
  /* Navigation */
    nav ul li a {
        padding: .5rem 1rem;
    }
    
    #hamButton {
        display: none;
    }

    nav ul {
        display: flex;
        padding: 0;
        text-align: center;
    }
    

    ul#navigation li a {
        border: none;
    }

    banner {
        font-size: 25px;
    }


  /* Main */

    .content {
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: .5fr .5fr .5fr;
        grid-gap: 5px;
    }
    h3 {
        font-size: 36px;
    }

    .events {
        grid-row: 1/2;
        grid-column: 1/2;

    }

    div.eventArrow {
        margin-left: 12rem;
        margin-top: 1.5rem;
    }

    .events img {
        margin-left: 5px;
        max-width: 200px;
    }

    .weather {
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .events p, .weather p {
        font-size: 20px;
    }

    .join {
        grid-row: 3/4;
        grid-column: 1/2;
        height: auto;

    }

    div.hero {
        min-width: 600px;
    }

    .hero {
        grid-column: 2/4;
        grid-row: 1/3;

    }


    .news {
        grid-column: 2/4;
        grid-row: 3/4;
    }

    .spotlight {
        grid-column: 4/5;
        grid-row: 1/4;

    }
    
    .spotlight div {
        display: block; 
        /* align-items: center; */
    }

    .spots div {
        align-items: center ;
    
    }

    .spot1, .spot2, .spot3 {
        width: 250px;
        height: 250px;
        margin: 16px;
    }

    .spot1 img {
        max-width: 150px;
        border: 2px solid red;
        padding: .5em;
    }

    .spot2 img {
        max-width: 150px;
    }

    .spot3 {
        border: 1px solid #3D518C;
        background-color: white;
        color: black;
        padding: 20px;
    }

    .spot3 img {
        width: 40%;
    }


    /* Discover Page */

    .about {
        /* grid-template-columns: 1fr; */
        font-size: 25px;
    }

    .discover img {
        display: block;
        width: 500px;
        margin: 5px;
        padding: 15px;
        margin-left: auto;
        margin-right: auto;
    }
    
    /* img.right {
        float: right;
    }  */


    /* Footer */


    /* .contact iframe {
        /* float: right; */
        /* border: 1px solid black;
        margin: 1em;
    } */ 

    /* ---------- Join Page ---------- */

    form label.sbs {
        padding: .4rem 0;
    }

     /* ---------- Directory Page ---------- */

        /* div.cards {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
        } */

}