@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
.maincontainer { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
head {
    color: #6e0d0d;
}
body {
    margin-top: 5px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 3em;
    font-family: 'Roboto', sans-serif;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6e0d0d;
    color: white;
    border-radius: 10px;
}
h1 {
    font-size: 2rem;
    padding: 1rem;
}
header img {
    border-radius: 50%;
    max-width: 100px;
    max-height: 100px;
}
header img.gnome {
    margin-right: 18em;
}
header img.socks {
    margin-left: 12em;
}
h2 {
    text-align: center;
    font-size: 1.25rem;
    color: #6e0d0d;
}
a {
    color: #6e0d0d;
}
footer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-radius: 10px;
    background-color: #6e0d0d;
    color: white;
}
footer img.tree1 {
    grid-row: 1/3;
    max-width: 100px;
    max-height: 100px;
    padding-left: 1em;
}
footer p {
    padding-top: 15px;
}
