@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
.maincontainer { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
head {
    color: rgb(73, 45, 94);
}
body {
    margin-top: 5px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 3em;
    font-family: 'Roboto', sans-serif;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(73, 45, 94);
    color: white;
}
h1 {
    font-size: 2rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
header img {
    max-width: 100px;
    max-height: 100px;
    margin: 2em;
}
h2 {
    text-align: center;
    font-size: 1.25rem;
    color: rgb(73, 45, 94);
}
a {
    color: rgb(73, 45, 94);
}
footer {
    border-radius: 10px;
    background-color: rgb(73, 45, 94);
    color: white;
    text-align: center;
}